body {
    background-color: rgb(0, 0, 0);
    color: #b66dff;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  .border {
    border: 2px solid white;
    
  }
  .text-1 {
    font-size: 20px;
  }
  .text-2 {
    font-size: 25px;
  
  }
  .text-3 { 
    font-size: 25px;
  }
  #logo {
    margin-top: 2%;
}